body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background: black;
}

h1 {
  text-transform:uppercase;
  color: rgb(235, 243, 235);
  margin-bottom: 20px;
}

/* Filter Buttons */
.filters {
  margin-bottom: 20px;
}

.filter-btn {
  padding: 10px 20px;
  border: none;
  margin: 5px;
  cursor: pointer;
  background: #333;
  color: black;
  border-radius: 5px;
  transition: 0.3s;
}

.filter-btn:hover,
.filter-btn.active {
  background: rgb(235, 243, 235);
}

/* Gallery Grid */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.image {
  overflow: hidden;
  border-radius: 10px;
}

.image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.image img:hover {
  transform: scale(1.1);
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

/* Close Button */
.close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: black;
  cursor: pointer;
}

/* Navigation Buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 50px;
  color: black;
  cursor: pointer;
}

.prev {
  left: 30px;
}

.next {
  right: 30px;
}

/* Responsive */
@media(max-width: 600px) {
  .prev, .next {
    font-size: 35px;
  }
}